.login-admin {
    width: 100%;
    height: 100%;
    background: url("../../../assets/img/login-background.jpg") no-repeat center fixed;
    background-size: cover;

}

.info-logo {
  width: 100%;
  display: flex;
  justify-content: center;

}

.info-logo img {
  width: 40%;
  height: auto;
}

.form-container {
    width: 55%;
    height: 80%;
    background: #263238;
    border-radius: 2em;
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    margin: 0;
    padding-top: 1em;
    font-size: 3em;
    font-weight:500;
    color: #fff;
}

:host hr {
  width: 100%;
  height: 1px;
  color: white;
  border-radius: 1em;
  background-color: white;
  margin-top: 2em;
}

.username-field {

  padding-top: 7%;
  width: 50%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password-field {

  padding-top: 7%;
  width: 50%;
  color: white;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username-label {
  color: white;
}

.login-form {
    padding-top: 1em;
    /* padding-left: 6em; */
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.form-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

:host ::ng-deep input.mat-input-element {
  margin-top: -0.0625em;
  width: 90%;
  background-color: transparent;
  border: 0px solid transparent;
  height: 3em;
  color: white;
  border-radius: 0.2em;
  border-bottom: 1px solid white;
}

:host ::ng-deep input.mat-input-element:focus {
  outline: none !important;
  border:0px solid transparent;
  border-bottom: 1px solid white;
  box-shadow: 0 4px 2px -2px gray;
}

:host ::ng-deep .mat-icon-button, :host ::ng-deep .user-icon {
  padding: 0;
  min-width: 0;
  width: 8%;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}

.sign-in-button {
  background-color: #1d1d1d;
  color: white;
  width: 90%;
}

.button-container {
  padding-top: 5em;
  width: 50%;
}

:host ::placeholder {
  color: rgba(255, 255, 255, 0.466);
}

.info-container {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 0px 30px;
  height: 80%;
  padding-top: 2em;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.793);
  border-radius: 2em;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info {
  font-size:1.7em;
  justify-content: center;
  align-items: center;
  padding-top:4em;
}
