<div class="body-container">

  <div class="row">

    <label for="buscar" class="label-buscar">Nickname:</label>
    <input matInput  type="text" name="buscar" class="buscar" [(ngModel)]="filterSearch" (input)="filterUsers()"
    placeholder="Buscar..." #input>
    <button mat-raised-button class="add-new" (click)="newUser()">
      Nuevo administrador
      <mat-icon>add</mat-icon>
    </button>

  </div>
  <table class="tabla-user">
    <tr mat-header-row>
      <th>
        Id
      </th>
      <th>
        Avatar
      </th>
      <th>
        Nick
      </th>
      <th>
        Nombre
      </th>
      <th>
        Fecha de nacimiento
      </th>
      <th>
        Email
      </th>
      <th>
        Rol
      </th>
      <th>
      </th>
    </tr>


    <tr *ngFor="let user of ( usersToView| slice:lowValue : highValue)">
      <td>
        {{user.uuid}}
      </td>
      <td>
        <img [src]="user.avatar" alt="">
      </td>
      <td>
        {{user.nick}}
      </td>
      <td>
        {{user.nombre}}
      </td>
      <td>
        {{user.fechaDeNacimiento}}

      </td>
      <td>
        {{user.email}}

      </td>
      <td>
        {{user.role}}
      </td>
      <td>
        <button mat-icon-button aria-label="Edit button" (click)="editUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Delete button" (click)="openDeleteDialog(user.uuid,user.nick)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>

    <tr *ngIf="usersToView.length <= 0" >
      <td class="mat-cell" colspan="7">No se han encontrado usuarios cuyos criterios de búsqueda coincidan con "{{input.value}}"</td>
    </tr>

  </table>
  <div *ngIf="usersToView.length > 0" class="paginator">
    <mat-paginator [length]="usersToView.length" [pageSize]="5" (page)="getPaginatorData($event)"
      showFirstLastButtons [hidePageSize]="true" style="border-radius: 15px;">
    </mat-paginator>
  </div>

</div>
