.body-container{
  background-color: #78909c80;
  border-radius: 2em;
  min-width:auto;
  padding: 3em;
  height: auto;
  display: flex;
  flex-direction: column;
}

.tabla-peliculas {
  background-color: white;
}

table{
  border-collapse: collapse;
  border-radius: 1em;
}

th,td {
  border-bottom: 1px solid black;
  padding: 1em;
  text-align: center;

}

td img {
  width: 15%;
  border-radius: 2em;
}

tr:last-child td{
  border-bottom: 0px solid transparent;
}

th{
  border-radius: 2em 2em 0em 0em;
}

.paginator{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  background-color: transparent;
}
