<body class="body-container">

  <table class="tabla-peliculas">
    <tr mat-header-row>
      <th>
        Id
      </th>
      <th>
        Póster
      </th>
      <th>
        Título
      </th>
      <th>
        Descripción
      </th>
      <th>
        Duración
      </th>
      <th>
        Fecha de lanzamiento
      </th>
      <th>
        Fecha de caducidad
      </th>
      <th>
      </th>
    </tr>


    <tr *ngFor="let film of ( films| slice:lowValue : highValue)">
      <td>
        {{film.uuid}}
      </td>
      <td>
        <img [src]="film.poster" alt="">
      </td>
      <td>
        {{film.title}}

      </td>
      <td>
        {{film.description}}

      </td>
      <td>
        {{film.duration}}

      </td>
      <td>
        {{film.releaseDate}}
      </td>
      <td>
        {{film.expirationDate}}
      </td>
      <td>
        actions buttons
      </td>
    </tr>

  </table>
  <div *ngIf="films.length > 0" class="paginator">
    <mat-paginator [length]="films.length" [pageSize]="5" (page)="getPaginatorData($event)"
      showFirstLastButtons [hidePageSize]="true" style="border-radius: 15px;">
    </mat-paginator>
  </div>

</body>
