<div class="body-container">

  <div class="option-container">
    <div class="option" (click)="goTo('films')">
      <mat-icon class="option-icon">camera_roll</mat-icon>
      <span class="option-title">Películas</span>
    </div>
    <div class="option" (click)="goTo('sessions')">
      <mat-icon class="option-icon">access_time</mat-icon>
      <span class="option-title">Sesiones</span>
    </div>
    <div class="option" (click)="goTo('halls')">
      <mat-icon class="option-icon">meeting_room</mat-icon>
      <span class="option-title">Salas</span>
    </div>
    <div class="option" (click)="goTo('admins')">
      <mat-icon class="option-icon">supervised_user_circle</mat-icon>
      <span class="option-title">Usuarios</span>
    </div>
  </div>

</div>
